
<!DOCTYPE html>
{% load staticfiles %}
<!--<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
</body>
</html> -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devi Abraham Sy</title>
    <link rel="stylesheet" href="{% static 'css/all.css' %}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<style>
    body{
        background:url({% static 'images/background2.jpg' %});
        background-repeat: no-repeat;
        background-size: 1300px 1400px;
        background-position: center;
        background-attachment: fixed;
    }

    div.a{
       text-align: center;
       color: white;
       /*text-shadow: 2px 2px 4px #000000;*/
       text-shadow: 3px 3px 20px #000000;

    }

    #profil{
       text-align: center;
       color: rgb(8, 8, 8);
       /*text-shadow: 1px 1px 2px black, 0 0 40px rgb(255, 255, 255), 0 0 5px rgb(68, 68, 70);*/
       text-shadow: 0 0 3px #FF0000, 0 0 5px rgb(16, 16, 24);
       font-size: 40px;

    }

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 250px;
    }

    nav{

        text-align: center;
    }
</style>
</head>

<body>

    <br>

    <div id="profil" >
        <p><b> M y  P r o f i l e</b></p>

    </div>
    <div class="b">
        <ul class="nav justify-content-center">
          <li class="nav-item">
              <a class="nav-link" href="/"><button type="button" class="btn btn-outline-dark btn-lg">My Profile</button></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/my_ex"><button type="button" class="btn btn-outline-dark btn-lg">My Experience</button></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/my_ed"><button type="button" class="btn btn-outline-dark btn-lg">My Education</button></a>
          </li>

        </ul>
        </div>

    <br>
    <div >
        <img src="{% static 'images/fotoprofil2.jpg' %}" class="rounded-circle" alt="fotoprofilku" width="300" height="212" >
    </div>
    <br>

    <div class="a">
        <h2>Nama : {{name}}</h2>
        <h2>Tanggal Lahir : {{tgl_lhr}}</h2>
        <h2>Asal Daerah : {{asal}}</h2>
        <h2>Pekerjaan : {{kerja}}</h2>
        <br>
        <br>
        <article>Saya berusia {{age}} tahun</article>



    </div>
    <br>
    <br>

    <div class="a" >
        <p><b><font color="#ffffcc" size="5px">Harapan saya dengan mengikuti kelas Django ini adalah menambah ilmu baru <br>
            yang dapat saya aplikasikan di masa yang akan datang </font></b></p>
    </div>

    <br>
    <br>
    <br>
    <div class="a">
        <h1><b>Find me on :</b></h1>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="a">
        <i class="fab fa-facebook-square" style="font-size:50px;color:#2196F3">   MyProfile</i>

    </div><br><br><br>
    <div class="a">
        <i class="fab fa-instagram" style="font-size:50px;color:rgb(192, 21, 192)">   MyProfile</i>
    </div><br><br><br>
    <div class="a">
        <i class="fab fa-linkedin" style="font-size:50px;color:rgb(8, 27, 189)">   MyProfile</i>
    </div>
</body>


</html>

